version: "3.8"

services:
  weaviate:
    image: semitechnologies/weaviate:1.27.3
    container_name: weaviate
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      DEFAULT_VECTORIZER_MODULE: "none"
      ENABLE_MODULES: ""
      CLUSTER_HOSTNAME: "node1"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      QUERY_DEFAULTS_LIMIT: "25"
    volumes:
      - weaviate_data:/var/lib/weaviate

volumes:
  weaviate_data:
